body {
    margin: 0;
    overflow: hidden;
}

.coat-of-arms {
    position: absolute;
    width: 20%;
    right: 0%;
    bottom: 0;
    z-index: 100;
}

.radio-station-0 {
    position: absolute;
    width: 10%;
    left: 54%;
    bottom: 2%;
    z-index: 1;
}

.radio-station-1 {
    position: absolute;
    width: 10%;
    left: 45%;
    bottom: 10%;
    z-index: 1;
}

.radio-station-2 {
    position: absolute;
    width: 25%;
    left: 35%;
    bottom: 30%;
    z-index: -1;
}

.radio-station-3 {
   position: absolute;
   width: 25%;
   left: 55%;
   bottom: 15%;
}

.radio-station-4 {
    position: absolute;
    width: 25%;
    left: 25%;
    bottom: 2%;
    z-index: 1;
}

.image-div{
    position: absolute;
    height: 100%;
    width: 100%;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.lap-1-img {
    position: absolute;
    width: 32%;
    height: 30vw;
    left: 5%;
    bottom: 10%;
}

#svg-tanks {
    position: absolute;
    width: 15%;
    height: 40%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#svg-caption {
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0;
    top: 0;
    z-index: -2;
}

